:root .swiper {
    width: 100%;
    height: 100%;
    // padding-top: 50px;
    // padding-bottom: 50px;
  }

//   :root .swiper-slide {
//     background-position: center;
//     background-size: cover;
//     width: 300px;
//     height: 300px;
//   }

//   :root .swiper-slide img {
//     width: 100%;
//     // height: 100%;
//     // display: block;
//     // height: 200px;
//     // width: auto !important;
//   }

  :root .swiper-container {
    width: 100%;
    height: 300px; // Ajusta la altura deseada
  }
  
  :root .swiper-slide .contentImg {
    width: 100%;
    height: 100%;
    // height: 43vh;
    // object-fit: cover; // Ajusta la imagen para que ocupe todo el espacio disponible sin deformarse
  }

  :root .swiper-slide .contentImg img {
    // width: 100%;
    // height: 100%;
    height: 100%;
    object-fit: cover; // Ajusta la imagen para que ocupe todo el espacio disponible sin deformarse
  }

  .contentImg{
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }