<!-- <div *ngIf="galeria == 'home'">
    <div style="height: 500px;">
        <swiper #swiper [config]="config" (slideChange)="onSlideChange()" (click)="startAutoplay()">
            <ng-template swiperSlide *ngFor="let xs of imageshome">
                <div class="contentImg">
                    <img [src]="xs" alt="">
                </div>
            </ng-template>
        </swiper>
    </div>    
</div>

<div *ngIf="galeria == 'John'">
    <div style="height: 500px;">
        <swiper #swiper [config]="config" (slideChange)="onSlideChange()" (click)="startAutoplay()">
            <ng-template swiperSlide *ngFor="let xs of imagesJohn">
                <div class="contentImg">
                    <img [src]="xs" alt="">
                </div>
            </ng-template>
        </swiper>
    </div>    
</div>

<div *ngIf="galeria == 'Laura'">
    <div style="height: 500px;">
        <swiper #swiper [config]="config" (slideChange)="onSlideChange()" (click)="startAutoplay()">
            <ng-template swiperSlide *ngFor="let xs of imagesLaura">
                <div class="contentImg">
                    <img [src]="xs" alt="">
                </div>
            </ng-template>
        </swiper>
    </div>    
</div>

<div *ngIf="galeria == 'JohnLaura'">
    <div style="height: 500px;">
        <swiper #swiper [config]="config" (slideChange)="onSlideChange()" (click)="startAutoplay()">
            <ng-template swiperSlide *ngFor="let xs of imagesJohnLaura">
                <div class="contentImg">
                    <img [src]="xs" alt="">
                </div>
            </ng-template>
        </swiper>
    </div>    
</div> -->

<div style="height: 500px;">
    <swiper #swiper [config]="config" (slideChange)="onSlideChange()" (click)="startAutoplay()">
        <ng-template swiperSlide *ngFor="let xs of images">
            <div class="contentImg">
                <img [src]="xs" alt="">
            </div>
        </ng-template>
    </swiper>
</div>  