<div class="ppal">
    <div class="card flex justify-content-center fuente content">
        <p-panel header="Ceremonia: Iglesia Santa Maria del Cedro">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.1078810664997!2d-74.0370689512783!3d4.732545860967129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85646deb0bf7%3A0x19975b59dc20d963!2sSanta%20Mar%C3%ADa%20del%20Cedro!5e0!3m2!1ses!2sco!4v1687579479019!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
            </div>
            <div>
                <p>Direccion: Cra 14 # 152 - 70</p>
                <p>Hora: 02:00 pm</p>
            </div> 
        </p-panel>
    </div>
    <br>
    <!-- <div class="card flex justify-content-center fuente content">
        <p-panel header="Recepción: Restaurante Daniel">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.643563733103!2d-74.0568369!3d4.6574902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5ce0c6f11d%3A0xd170da6e8f9876a7!2sRestaurante%20Daniel!5e0!3m2!1ses!2sco!4v1687579215315!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <p>Direccion: Cra 73 # 9 - 70</p>
                <p>Hora: 07:00 pm</p>
            </div>  
        </p-panel>
    </div> -->
</div>

