<p-toast position="top-center"></p-toast>
<!-- 
<div>
    <button type="button" pButton pRipple (click)="showSuccess()" label="a" class="p-button-success espacio"></button>
    <button type="button" pButton pRipple (click)="showInfo()" label="b" class="p-button-info espacio"></button>
    <button type="button" pButton pRipple (click)="showWarn()" label="c" class="p-button-warning espacio"></button>
    <button type="button" pButton pRipple (click)="showError()" label="d" class="p-button-danger espacio"></button>
  
</div>


<p>{{fecha}}</p>
<p>{{fecha2}}</p>
<p>{{fecha3}}</p> -->

<main>
    <section>
        <!-- <p>ID: {{ id }}</p> -->
        <!-- <h2>Bienvenidos a nuestra boda</h2>
        <p>¡Nos alegra mucho que estés aquí para celebrar este día especial con nosotros! En esta página encontrarás
            información
            sobre nuestra boda, la ubicación, la recepción, las fotos y mucho más.</p>
        <p>Te invitamos a explorar cada sección y compartir con nosotros este momento lleno de amor y felicidad.</p> -->
        <p>En un rincón encantador del universo, dos almas destinadas se encontraron y comenzaron un viaje que cambiaría
            el curso de sus vidas para siempre. </p>
        <p>Érase una vez, en un día lleno de promesas y suspiros.</p>

        <p>Su historia es como un poema, lleno de versos que celebran la amistad, el amor y la complicidad.</p>
        <p> Como los pétalos de una rosa que se despliegan con gracia, su relación ha florecido a lo largo del tiempo,
            tejiendo recuerdos que han llenado sus corazones de alegría y felicidad.
        </p>
    </section>

    <div style="display: flex;
    justify-content: center;">
        <div class="contentCarrousel">
            <app-carrousel [images]="imageshome"></app-carrousel>
        </div>
    </div>
    <section>

        <!-- <p>En un rincón encantador del universo, dos almas destinadas se encontraron y comenzaron un viaje que cambiaría el curso de sus vidas para siempre. 
            Érase una vez, en un día lleno de promesas y suspiros
        </p>
        <p>Su historia es como un poema, lleno de versos que celebran la amistad, el amor y la complicidad. 
            Como los pétalos de una rosa que se despliegan con gracia, su relación ha florecido a lo largo del tiempo, 
            tejiendo recuerdos que han llenado sus corazones de alegría y felicidad.
        </p> -->
        <p>En esta jornada tan especial, rodeados de seres queridos y bajo el cielo que testigo será de su unión, 
            John y Laura se prometen amor eterno. Que este día marque el comienzo de una nueva aventura, donde cada 
            amanecer sea una oportunidad para renovar el compromiso que hoy sellan con anillos y promesas.
        </p>
        <p>Que su historia de amor continúe siendo escrita con letras de ternura, comprensión y complicidad
        </p>
        <p>En este día tan especial, les deseamos a John y Laura una vida llena de amor incondicional, complicidad eterna y felicidad sin límites. Que su matrimonio 
            sea un cuento de hadas que se vive todos los días, con un "felices para siempre" que perdure por toda la eternidad. </p>
            <h2>¡Felicidades en su boda!</h2>
        <!-- <p>En esta jornada tan especial, rodeados de seres queridos y bajo el cielo que testigo será de su unión,
            John y Laura se prometen amor eterno. Que este día marque el comienzo de una nueva aventura, donde cada
            amanecer sea una oportunidad para renovar el compromiso que hoy sellan con anillos y promesas.
        </p>
        <p>Agradecemos a cada uno de ustedes por ser parte de nuestra historia y por acompañarnos en este día tan
            especial. ¡Esperamos que disfruten de esta celebración tanto como nosotros y que la alegría y el amor llenen
            sus corazones!</p>
        <h2>Con amor,</h2>
        <h2>John y Laura</h2> -->
    </section>

    <!-- Aquí irían más secciones y contenido de tu página de inicio (home) -->

</main>