p {
    font-size: 23px;
}

.contentCarrousel {
    width: 80%;
}


@media (max-width: 900px) {

    .contentCarrousel {
        width: 80%;
    }

}

@media (max-width: 480px) {
    .contentCarrousel {
        width: 100%;
    }
}