:root{
    --Janna:#f4e8d7;
    --Norway:#a2bea7;
    --Brandy:#d9b08c;
    --CannonPink:#9a4c6f;
    --TawnyPort:#6d2737;

    --Givry:#f7d4c5;
    --Kobi:#e8a6b4;
    --Viola:#d090ab;
    --Bazaar:#9d8088;
    --OxfordBlue:#2d3c48;
}