<!-- <p>galeria works!</p> -->

<!-- <div style="display: flex; justify-content: center;">
    <div class="contentCarrousel">
        <app-carrousel [images]="imagesJohn"></app-carrousel>
    </div>
</div>

<div style="display: flex; justify-content: center;">
    <div class="contentCarrousel">
        <app-carrousel [images]="imagesLaura"></app-carrousel>
    </div>
</div>

<div style="display: flex; justify-content: center;">
    <div class="contentCarrousel">
        <app-carrousel [images]="imagesJohnLaura"></app-carrousel>
    </div>
</div> -->

<main>
    <!-- <button (click)="test()"> test  </button> -->
    
    <p-tabView>
        <p-tabPanel header="John Rueda">
            <div style="display: flex; justify-content: center;">
                <div class="contentCarrousel">
                    <app-carrousel [images]="imagesJohn"></app-carrousel>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Laura Celemin">
            <div style="display: flex; justify-content: center;">
                <div class="contentCarrousel">
                    <app-carrousel [images]="imagesLaura"></app-carrousel>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="John & Laura">
            <div style="display: flex; justify-content: center;">
                <div class="contentCarrousel">
                    <app-carrousel [images]="imagesJohnLaura"></app-carrousel>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    
    <!-- <section>
        <div>
            <div style="display: flex; justify-content: center;">
                <div class="contentCarrousel">
                    <app-carrousel [images]="imagesJohn"></app-carrousel>
                </div>
            </div>
        </div>
    </section>

    <section>
        
        <div>
            <div style="display: flex; justify-content: center;">
                <div class="contentCarrousel">
                    <app-carrousel [images]="imagesLaura"></app-carrousel>
                </div>
            </div>
        </div>
    </section>

    <section>
        
        <div>
            <div style="display: flex; justify-content: center;">
                <div class="contentCarrousel">
                    <app-carrousel [images]="imagesJohnLaura"></app-carrousel>
                </div>
            </div>
        </div>
        
        
    </section> -->
   
</main>
