<!-- <div class="dress-code-section">
    <h2>Código de Vestimenta</h2>

    <div class="details">
        <p>Queremos que todos se sientan cómodos y disfruten de nuestra boda, por lo que hemos establecido un código de
            vestimenta:</p> -->

        <!-- <ul> -->
            <!-- <li>Para los hombres: traje o saco y corbata.</li>
            <li>Para las mujeres: vestido de cóctel o traje elegante.</li>
            <li>Los colores a evitar son el blanco (reservado para la novia).</li> -->
        <!-- </ul> -->
<!-- 
        
        <p-fieldset legend="Para las mujeres">
            <p class="m-0 texto">
                Vestido de cóctel o traje elegante.
            </p>
            <p class="m-0 texto">
                Los colores a evitar son el blanco (reservado para la novia).
            </p>
        </p-fieldset>
        <br>
        <p-fieldset legend="Para los hombres">
            <p class="m-2 texto">
                Traje formal.
            </p> -->
            <!-- Puedes agregar más detalles según tus preferencias -->
        <!-- </p-fieldset>
        
    </div>
</div> -->