.attendance-confirmation-section {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .message {
    // font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .confirmation-options {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    font-family: auto;    
    .sub-container{
      width: 138px;
      display: flex;
      justify-content: space-around;
    }
  }
  
  .confirm-button {
    margin-top: 20px;
  }
  