<div class="attendance-confirmation-section">
    <h2>¡Estamos emocionados de verte en nuestra boda!</h2>
  
    <p class="message">Por favor, confirma tu asistencia:</p>
    <p class="message">¿Asistirás?</p>
  
    <div class="confirmation-options">
      <div class="sub-container">
        <p-radioButton name="attendance" [value]="true" label="Sí" [(ngModel)]="asistencia"></p-radioButton>
        <p-radioButton name="attendance" [value]="false" label="No" [(ngModel)]="asistencia"></p-radioButton>
      </div>
    </div>
  
    <p-button [label]="asistencia ? 'Aceptar' : 'Enviar'" class="confirm-button" (click)="submitAttendance()"></p-button>
    <br>
    <p>Recuerda que la fecha maxima para confirmar es el 27 de marzo de 2024.</p>
  </div>

  <p-dialog header="Lamentamos no contar con tu asistencia" [(visible)]="showDialog" [responsive]="true">
    <p>{{ dialogMessage }}</p>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Cerrar" (click)="closeDialog()"></button>
    </p-footer>
  </p-dialog>