

<nav class="menu-container">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/historia" routerLinkActive="active">Historia de Amor</a></li>
        <!-- <li><a routerLink="/recepcion" routerLinkActive="active">Recepción</a></li> -->
        <li><a routerLink="/ubicacion" routerLinkActive="active">Ubicación</a></li>
        <!-- <li><a routerLink="/vestimenta" routerLinkActive="active">Código de Vestimenta</a></li> -->
        <!-- <li><a routerLink="/carta" routerLinkActive="active">Carta</a></li> -->
        <li><a routerLink="/galeria" routerLinkActive="active">Galería</a></li>
      </ul>
</nav>