<div class="wedding-considerations-section">
    <h2>Consideraciones para la boda</h2>
  
    <p class="considerations-text">
      Queremos agradecerles por acompañarnos en nuestro día especial. A continuación, les proporcionamos algunas consideraciones importantes:
    </p>
  
    <!-- <ul class="considerations-list"> -->
      <p>Solo pueden asistir las personas que han sido invitadas formalmente a nuestra boda.</p>
      <p>La asistencia está limitada a personas mayores de 18 años. Lamentablemente, no podemos recibir la asistencia de menores de edad en este evento.</p>
      <p>Les solicitamos que respeten el código de vestimenta especificado en nuestra página web para mantener la atmósfera festiva y elegante de la ocasión.</p>
      <p>Les recomendamos llegar puntualmente para disfrutar de todas las actividades planificadas y no interrumpir el desarrollo de la ceremonia y la recepción.</p>
      <p>Agradecemos su comprensión y respeto hacia nuestras decisiones, ya que estamos trabajando arduamente para garantizar una experiencia inolvidable para todos los invitados.</p>
    <!-- </ul> -->
  </div>
  