.wedding-considerations-section {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .considerations-text {
    // font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .considerations-list {
    list-style-type: disc;
    margin-left: 40px;
    // font-size: 16px;
    color: #333;
  }
  

  p{
    font-family: 'Times New Roman', Times, serif;
  }