<section>
    <!-- <p>ID: {{ id }}</p> -->
    <h1>Bienvenidos.</h1>
    <p>¡Tenemos el gusto de hacerte partícipe de este día tan especial para nosotros! </p>
    <p>En esta página encontrarás información sobre nuestra boda.</p>

    <p>Te invitamos a explorar cada sección y compartir con nosotros este momento lleno de amor y felicidad.</p>
    <!-- <p>Recuerda que la fecha maxima para confirmar es el 27 de marzo de 2024. Si quieres tener un detalle con los novios recuerda que es lluvia de sobres.</p> -->
    <!-- <p>Estamos encantados de celebrar nuestro amor y compromiso en esta maravillosa ocasión! Desde el momento en que
        nos
        conocimos, supimos que estábamos destinados a estar juntos y construir un futuro lleno de felicidad y amor
        incondicional.</p> -->
</section>